@import '../../../node_modules/react-modal-video/scss/modal-video.scss';
.bg-video{
    background-image: url('../../img/21-3498608-Deadlift-GIF-bcfccee88c444efcb2868d29fcfa03a0.gif');
   
}
@media screen and (max-width:560px) {
.weAre-content span {
        font-size: 25px;
    }
    .bg-video{
        width:300px ;
    }
}
