.banner-container{
    background-image: url('../../img/pose-muscle-muscle-rod-press-hd-wallpaper-preview.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
}
.banner-content{
    height: 100vh;
    background: #000;
    color: #fff;

}